<html>
<head>
	<title><%= title %></title>
	<script type="text/javascript" src="/scripts/soundmanager2.js"></script>
	<script type="text/javascript" src="/scripts/page-player.js"></script>
	<script type="text/javascript">
		soundManager.url = '/';
	</script>
	<style type="text/css" media="screen">@import "/stylesheets/styles.css";</style>
	<style type="text/css" media="screen">@import "/stylesheets/page-player.css";</style>
</head>
<body>
	<div id="album">
		<img src="<%= @album.image_large %>" width="150" height="150" alt="" />
		<p><span class="label">Artist:</span> <%= @album.artist %><br />
		<span class="label">Album:</span> <%= @album.name %></p>
	</div>
	<div id="container">
		<p id="back"><a href="/<%= params[:artist] %>" class="exclude">Back to <%= params[:artist] %></a></p>
		<ul class="playlist" style="">
		<% @entries.each do |song| %>
			<li><a href="<%= url_for(params[:artist], params[:album], song) %>"><%= song.sub('.mp3', '') %></a></li>
		<% end %>
		</ul>
		<div id="control-template">
		  <!-- control markup inserted dynamically after each link -->
		  <div class="controls">
		   <div class="statusbar">
		    <div class="loading"></div>
		     <div class="position"></div>

		   </div>
		  </div>
		  <div class="timing">
		   <div id="sm2_timing" class="timing-data">
		    <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
		  </div>
		  <div class="peak">

		   <div class="peak-box"><span class="l"></span><span class="r"></span>
		   </div>
		  </div>
		 </div>

		 <div id="spectrum-container" class="spectrum-container">
		  <div class="spectrum-box">
		   <div class="spectrum"></div>
		  </div>

		 </div> 
	</div>
</body>
</html>	
