<% if @back %>
<p id="back"><a class="exclude" href="<%= url_for(@back) %>">Back to <%= @back %></a></p>
<% end %>
<ul class="playlist">
<% @entries.each do |e| %>
	<li><a<%= ' class="exclude"' unless e.downcase =~ /\.mp3$/ %> href="<%= url_for(params['splat'], e) %>"><%= e %></a></li>
<% end %>
</ul>